* {
    font-family: 'Russo One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%233d6ca4' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    border-radius: 10px;
}

/** BUTTON WHATSAPP **/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

/** NAVBAR **/

.navbar-brand {
    border-bottom: 1px solid brown;
}

.navbar-brand:hover {
    font-size: 17px;
    transition: all 1s ease-in-out;
    
    
}

@keyframes borderAnimation {
    0% {
        border-bottom: 0px;
    }

    100% {
        border-bottom: 2px;
    }
}

.navbar-nav li a {
    margin: 5px;
}

.navbar-nav li a:hover {
    border-bottom: 1px solid brown;
}

.containerdos {
    position: absolute;
    right: 250px;
}

.navbarNavdos ul li a i {
    font-size: 30px;
    color: rgb(165, 42, 42); 
}

@media (max-width: 696px) {
    .navbarNavdos > ul > li > p {
        display: none;
    }

}

.navbarNavdos ul > div > .botonOscuro {
    background-color: red !important;
}
/** FIN DE NAVBAR **/

/** HEADER (SECCION HOME) **/

header {
    width: 100%;
    justify-content: center;
}

header #fotoEncabezado {
    background-color: inherit;
    border: none;
    margin-bottom: 50px;
}

header #fotoEncabezado h1 {
    background-color: #a52a2a;
    color: #FFF;
}

header .carousselHeader {
    width: 90%;
    margin: auto;
}

header .carousel-item img {
    width: 100%;
    height: 500px;
}

header .carousel-caption.d-none.d-md-block {
    background-color: rgba(165, 42, 42, 0.9);
}


header .cardsHeader {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

header .encabezado {
    width: 50%;
    border: none;
    background-color: inherit;
    margin: auto;
    padding: 10px;
    text-align: center;
}

header .encabezado h1 {
    font-size: 25px;
    background-color: #a52a2a;
    border-radius: 20px;
    color: white;
    margin-top: 30%;
}

header .encabezado h4 {
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 15px;
}

header .encabezado img {
    width: 40%;
    height: 40%;
    margin: auto;
    border-radius: 300px;
}

@media (max-width: 766px) {
    header .encabezado h1 {
        width: 50%;
        font-size: 10px;
        margin: auto;
        margin-top: 27%;
    }

    header .encabezado h4 {
        width: 50%;
        font-size: 10px;
        margin: auto;
    }

    header .cardsImage h5 {
        width: 50%;
        font-size: 10px;
    }

    header .cardsImage p {
        width: 50%;
        font-size: 10px;
    }
}

@media (max-width: 696px) {
    header .encabezado {
        margin-top: 10px;
        width: 90%;
    }

    header .encabezado h1 {
        width: 50%;
        font-size: 20px;
        margin: auto;
        margin-top: 27%;
    }

    header .encabezado h4 {
        width: 50%;
        font-size: 15px;
        margin: auto;
    }

    header .carousselHeader {
        display: none;
    }

    header .cardsImage h5 {
        width: 70%;
        font-size: 6px;
    }

    header .cardsImage p {
        font-size: 5px;
    }
}

header .cardsImage {
    width: 90%;
    margin: auto;
}

header .cardsImage h2 {
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #a52a2a;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header .cardsImage h5 {
    width: 40%;
    background-color: rgba(165, 42, 42,0.5);
    color: #FFF;
    padding: 5px;
    border-radius: 10px;
}

header .cardsImage p {
    width: 20%;
    background-color: rgba(165, 42, 42,0.5);
    color: #FFF;
    padding: 5px;
    border-radius: 10px;
}

header .cardAcordion {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 20px;
}

header .cardAcordion > h2 {
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #a52a2a;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header .cardNext {
    margin-top: 30px;
}

header .cardNext .next  {
    width: 40%;
    background-color: #a52a2a;
    margin: 10px;
    text-align: center;
    border: 2px solid #FFF;
    padding: 20px;
}

header .cardNext .next a {
    text-decoration: none;
    color: #FFF;
}

/** DESCRIPCION (SECCION HOME) **/

.containdescripcion {
    background-color: #a52a2a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23e6eaef' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.containdescripcion > h1 {
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black ;
}

main > a {
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black ;
}

.descripcion {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.imagentexto {
    width: 30%;
    height: 300px;
    background-image: url(../img/nubedialogo.png);
    background-repeat: no-repeat ;
    background-size: contain;
    color: black;
    margin-bottom: 10px;
}

.descripcion > .imagentexto > p {
    width: 70%;
    position: relative;
    left: 30px;
    top: 30px;
    text-align: center;

}

.descripcion > .imagentexto > img {
    position: relative;
    left: 110px;
    top: 35px;
}


/** FIN DE DESCRIPCION (SECCION HOMER) **/
/** FIN DEL HEADER (SECCION HOME) **/

/** SECCION ABOUT (SECCION SOBRE MI **/



.containabout {
    background-color: #0a0a0b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23f0eff3' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");;
    color: white;
}

.containabout h1 {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 200px;
    background-color: brown;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.7);
}

.containabout img {
    margin-left: 400px;
    margin-bottom: 10px;
}

.containabout h2 {
    text-align: center;
}

.containabout p {
    text-align: center;
}

.containabout .contentskillsdos {
   width: 100%;;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 30px;
   padding: 10px;
}

.containabout .contentskillsdos h2 {
    margin-bottom: 5px ;
    margin-top: 5px;
}

.containabout .seccionskilldos .icons {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 50px;
}

.containabout .seccionskilldos .icons i {
    margin: 10px;
}

.containabout .seccionskilldos .iconsdos {
    background-color: #0a0a0b;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    margin-bottom: 10px;
}

.containabout .seccionskilldos .iconsdos img {
    margin: 10px;
}

.containabout .download {
    text-align: center;
}

.containabout .download img {
    margin-left: 0px;
    margin-top: 10px;
}

/* //// Barras Diseño Grafico y Edicion de video //// **/

.containabout section {
    padding: 20px;
}

.containabout section .contentskills-dos{
    background-color: rgba(0, 0, 0, 0.7);
}

.containabout section h3 {
    text-align: center;
}

.html {
    border: 2px solid orange;
    border-radius: 14px;
    margin-bottom: 10px;
 }
 
 .html > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: photoshop-bar 3s;
    -moz-animation: photoshop-bar 3s;
 }
 
 @-webkit-keyframes photoshop-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes photoshop-bar {
    0% { width: 0; }
 }
 
 
 
 .css {
    border: 2px solid orange;
    border-radius: 14px;
 }
 
 .css > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: premiere-bar 4s ;
    -moz-animation: premiere-bar 4s;
 }
 
 @-webkit-keyframes premiere-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes premiere-bar {
    0% { width: 0; }
 }
 
 
 
 .js {
    border: 2px solid orange;
    border-radius: 14px;
 }
 
 .js > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: premiere-bar 4s;
    -moz-animation: premiere-bar 4s;
 }
 
 @-webkit-keyframes after-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes after-bar {
    0% { width: 0; }
 }
 
 
 
 .sql {
    border: 2px solid orange;
    border-radius: 14px;
 }
 
 .sql > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: premiere-bar 4s;
    -moz-animation: premiere-bar 4s;
 }
 
 @-webkit-keyframes ilustrator-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes ilustrator-bar {
    0% { width: 0; }
 }
 

 .html {
    border: 2px solid orange;
    border-radius: 14px;
    margin-bottom: 10px;
 }
 
 .photoshop > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: photoshop-bar 3s;
    -moz-animation: photoshop-bar 3s;
 }
 
 @-webkit-keyframes photoshop-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes photoshop-bar {
    0% { width: 0; }
 }

 .photoshop {
    border: 2px solid blue;
    border-radius: 14px;
    margin-bottom: 10px;
 }

 .premiere > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: photoshop-bar 3s;
    -moz-animation: photoshop-bar 3s;
 }
 
 @-webkit-keyframes photoshop-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes photoshop-bar {
    0% { width: 0; }
 }

 .premiere {
    border: 2px solid blue;
    border-radius: 14px;
    margin-bottom: 10px;
 }

 .after > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: photoshop-bar 3s;
    -moz-animation: photoshop-bar 3s;
 }
 
 @-webkit-keyframes photoshop-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes photoshop-bar {
    0% { width: 0; }
 }

 .after {
    border: 2px solid blue;
    border-radius: 14px;
    margin-bottom: 10px;
 }

 .ilustrator > div {
    color: brown;
    background: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 20px;
    border-radius: 10px;
    -webkit-animation: photoshop-bar 3s;
    -moz-animation: photoshop-bar 3s;
 }
 
 @-webkit-keyframes photoshop-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes photoshop-bar {
    0% { width: 0; }
 }

 .ilustrator {
    border: 2px solid blue;
    border-radius: 14px;
    margin-bottom: 10px;
 }

 
 /* Fin Barras Diseño Grafico y Edicion de video **/
 

@media (max-width: 700px) {
    header .carousel-item img {
        height: 300px;
    }

    .navbarNavdos ul li  {
        position: relative;
        left: 60px;
        margin: 15px;

    }

    .containabout h1 {
        width: 100%;
        margin-left: 0px;
    }

    .containabout img:nth-child(0n+2) {
        margin-left: 90px;
    }
}

/* Seccion Proyectos */

.headerprojects {
    background-color: #0a0a0b;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.cardscontain {
    background-color: rgba(10, 10, 11, 0.9);
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 10px;
}

.cardcontain .card {
    width: 400px !important;
    margin: auto;
    margin-bottom: 15px;
}

.cardcontain .card img:hover {
    opacity: 0;
    background-image: url(../img/edicion2.jpg);
    transition: all 1s ease;
}

.cardscontain .navLink {
    margin-left: auto;
}

@media (max-width: 700px) {
    .headerprojects {
        display: none;
    }
}

/*** CONTACTO ***/

.contacto {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.contacto .logo {
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: #a52a2a;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contacto .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contacto .contact-wrapper > * {
    padding: 1em;
}

.contacto .contact-form {
    background: #B70E21;
}

.contacto .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto  .contact-form form label {
    display: block;
}

.contacto  .contact-form form p {
    margin: 0;
    padding: 1em;
    color: #FFF;
}

.contacto .contact-form form .block {
    grid-column: 1 / 3;
}

.contacto .contact-form form button,
.contacto .contact-form form input,
.contacto .contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contacto .contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contacto .contact-form form button:hover,
.contacto .contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACTO INFO */
.contacto .contact-info {
    background: #000;
}

.contacto .contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    color: white;
}

@media(min-width: 700px) {
    .contacto .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contacto .contact-wrapper > * {
        padding: 2em;
    }
    .contacto .contact-info h4,
    .contacto .contact-info ul,
    .contacto .contact-info p {
        text-align: left;
    }
    }